body {
    width: 100%;
}

/* banner start */
.banner-img {
    background-image: url("/images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 525px;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    color: #ffffff;
}

.banner-img div {
    height: 525px;
    background: linear-gradient(rgba(10, 10, 10, 0.8), rgba(34, 33, 36, 0.3));
    text-align: center;
    border-radius: 10px;
}

.banner-img div p {
    padding-top: 150px;
    font-size: 26px;
}

.banner-img div h1 {
    margin-top: 0 !important;
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

/* banner end */
/* discount categories start */
.discount-categories {
    margin-top: 20px;
    text-align: center;
}

.discount-categories h1 {
    font-weight: bold;
    font-family: arial;
    font-size: 70px;
    color: #FF0000;
    margin-bottom: 0;
}

.discount-categories p {
    font-size: 17px;
    color: #FF0000;
}

.categories-title {
    font-size: 33px !important;
    color: black !important;
    font-weight: bold;
    font-family: arial;
    margin-top: 0;
}

.discount-categories img {
    width: 60%;
}

/* discount categories end */

/* start party section */
.party-section {
    background-image: url("/images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 525px;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;

}

.party-section>div {
    display: flex;
    align-items: center;
    color: #ffffff;
    height: 525px;
    border-radius: 10px;
    background: linear-gradient(rgba(10, 10, 10, 0.8), rgba(22, 22, 24, 0.3));
}

.left-side-party {
    width: 70%;
    text-align: left;
    margin: 0px 10px 0px 100px !important;
}

.left-side-party h1 {
    margin-top: 0;
    font-size: 64px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 0;
}

.left-side-party p {
    font-size: 16px;
    margin-bottom: 30px;
}

.left-side-party button {
    border: none;
    color: #ffffff;
    background: none
}

.right-side-party {
    width: 30%;
}

.right-side-party img {
    height: 350px;
    margin-right: 90px;
}

/* party section end*/

/* place date time start */
.party-info {
    width: 90%;
    border-radius: 10px;
    height: 290px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    align-items: center;
    background: linear-gradient(rgba(247, 181, 181, 0.8), rgba(229, 229, 250, 0.3));

}

.party-info div {
    padding-top: 50px;
}

.party-info div p {
    font-weight: bold;
    font-family: arial;
}

.party-info div p span {
    color: #FF0000;
}

.party-info div button {
    background-color: #FF0000;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    padding: 5px 18px;
}

/* place date time end */
/* upcoming offer start */
.circle-image-section {
    width: 90%;
    margin: auto;
    margin-top: 90px;
}

.circle-image-section>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle-image-section-first {
    width: 33%;
}

.circle-image-section-first h4 {
    color: #F00;
    font-family: arial;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.circle-image-section-first h3 {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.circle-image-section-first p {
    color: rgba(57, 57, 58, 0.6);
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
}

.circle-image-section-second {
    width: 33%;
    text-align: center;
}

.circle-image-section-second>img {
    height: 250px;
    border: 15px solid #F00;
    padding: 20px;
    border-radius: 50%;
}

.circle-image-section-third {
    width: 33%;
    margin-left: 40px;
}

.circle-image-section-third h2 {
    color: #F00;
    font-family: arial;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
}

.circle-image-section-third p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}

/* upcoming offer end */
/* portfolio section start */
.portfolio-section {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

.portfolio-section h3 {
    color: #FF0000;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.portfolio-section h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 5px;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.portfolio-section>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.portfolio-section div {
    display: flex;
}

.portfolio-section div img {
    width: 30%;
    margin: 10px;
    border-radius: 15px;
}

.portfolio-section div img:hover {
    width: 32%;
    box-shadow: 1px 1px 1px 1px black;
}

/* portfolio section end */
/* start subscribe section */
.subscription-section {
    width: 90%;
    margin: auto;
    border-radius: 16px;
    margin-top: 40px;
    background: rgba(255, 0, 0, 0.05);
    padding: 50px 0px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.subscription-section h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 16px;
    margin-top: 20px;
}

.subscription-section p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 26px;
    width: 70%;
    margin: auto;
    margin-bottom: 48px;
}

.subscription-section form input {
    width: 50%;
    height: 61px;
    padding-left: 20px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 50px 0px 0px 50px;
    outline: none;
    margin-bottom: 60px;
}

.subscription-section form button {
    width: 205px;
    height: 61px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    margin-left: -4px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

/* end subscribe section */
/* start footer section */
footer {
    width: 100%;
    height: 470px;
    background: #070211;
    color: white;
    margin-top: 120px;
}

.footer-address-contact {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 30px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.address {
    margin-left: 50px;
}

.contact {
    margin-right: 50px;
}

.contact p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact p img {
    width: 24px;
    height: 24px;
}

.line {
    width: 100%;
    height: 1px;
    color: rgba(22, 20, 20, 0.15);
}

.footer-icon {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon div img {
    width: 60px;
    height: 60px;
    padding: 0px 20px;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    /* margin-top: 50px; */
}

.footer-copyright p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-left: 139px;
}

.footer-copyright button {
    background-color: #070211;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 120px;
    margin-right: 140px;
}
/* end footer section */